body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 3px solid rgb(201, 45, 45);
    display: grid;
}

.buttons {
    padding: 10px;
    display: flex;
    width: 300px;
    justify-content: space-around;
}